<html ng-app="myApp">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.js" > </script>
    <script src="app.js"></script>
    <title>Angular Js</title>
</head>
<body>
    <h1> Hello Angular JS</h1>
    <!-- <p ng-if="false"> Good afternoon</p>
    <p ng-if="true"> Good Night</p> -->

    <input type="text" ng-model='name'/>
    <h1> {{name}}</h1>
    <div ng-controller='productController'>
        <h1> REST Api Checking</h1>
    </div>
</body>
</html>